input[type=text], input[type=password], input[type="number"]{
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}